@import 'tailwindcss';

html {
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-main: #292653;
  --color-platinum-500: #64748b;
  --color-purple-500: #7e49ff;
  --color-disabled: #f1f5f9;
  --color-dark: #020617;
  --color-main-70: #292653B2;
}

.container {
  @apply max-w-[393px] max-h-[852px] mx-auto px-5;
}

.btn-primary {
  @apply px-6 py-4 bg-main rounded-lg text-center text-white font-bold cursor-pointer hover:bg-[#1f1d40] active:bg-[#1f1d40] disabled:bg-disabled disabled:text-[#CBD5E1] disabled:cursor-auto;
}

.input-primary {
  @apply px-4 py-[14px] rounded-lg border border-[#E2E8F0] bg-white text-base placeholder:text-platinum-500;
}

.border-bottom-light {
  @apply after:content-[""] after:absolute after:border-b after:border-[#E2E8F0] after:-left-6 after:-right-6 after:bottom-0;
}

.bg-full-white {
  @apply before:content-[""] before:absolute before:w-[401px] before:-left-6 before:h-full before:bg-white;
}
